{% Aside 'note' %}
  Each Best Practices audit is weighted equally
  in the Lighthouse Best Practices Score.
  Learn more in
  [How Best Practices scoring works](/best-practices-scoring).  
  
{% endAside %}